// ----------------------------------------------------------------------------------------------------
// # Variables
// # Sass에서 사용 될 수 있는 모든 변수들을 정의 (색상과 관련 된 변수는 별도로 분류 후 theme/default 에 포함 시키기)
// ----------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------
// 전역 변수
// ## 레이아웃 (구조)
// ----------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------
// ## 색상
//----------------------------------------------------------------------------------------------------
$body-bg-color: #FFF;
$viewport-bg-color	: #FFF;

//----------------------------------------------------------------------------------------------------
// ##폰트
//----------------------------------------------------------------------------------------------------
$font-color: #555;
$font-sets: 13px/150% Arial, 'Nanum Gothic', 'Open Sans', 'Malgun Gothic',  Helvetica, sans-serif;
